body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f8f2;
  color: #2b2b2b;
  margin: 0;
  padding: 0;
}

/*NAVBAR*/
.navbar {
  background: linear-gradient(90deg, #1b4332, #2d6a4f);
}

.navbar-brand,
.nav-link,
.cart-icon {
  color: #fff !important;
}

.navbar-brand span {
  color: #b7e4c7;
}

/*TEXTOS E TÍTULOS*/
.section-title {
  font-weight: 800;
  color: #1b4332;
}

.price {
  color: #2d6a4f;
  font-weight: 700;
}

.product-text {
  font-size: 0.95rem;
  color: #555;
}

/*BOTÕES*/
.btn-eco {
  background-color: #2d6a4f;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

.btn-eco:hover {
  background-color: #1b4332;
  color: white;
}

.btn-outline-eco {
  border: 1px solid #2d6a4f;
  color: #2d6a4f;
  border-radius: 10px;
  font-weight: 600;
}

.btn-outline-eco:hover {
  background-color: #2d6a4f;
  color: white;
}

/*FOOTER*/
footer {
  background-color: #1b4332;
  color: white;
}

footer a {
  color: #b7e4c7;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

/*PRODUTOS / GRID*/
/* GRID DE PRODUTOS */

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* CARD DO PRODUTO */

.product-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-6px);
}

/* IMAGEM */

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background: #f5f5f5;
  padding: 10px;
}

.product-detail-image img {
  width: 100%;
  max-width: 420px;
  height: auto;
  border-radius: 18px;
  object-fit: contain;
}

.product-detail-grid {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 40px;
  align-items: center;
}

.product-detail-image {
  display: flex;
  justify-content: center;
}
/* ÁREA DE INFORMAÇÕES */

.product-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1;
}

/* BADGE ECO */

.badge-eco {
  background: #d8f3dc;
  color: #1b4332;
  font-weight: 600;
  border-radius: 999px;
  padding: 6px 12px;
  font-size: 0.8rem;
  width: fit-content;
}

/* TITULO */

.product-title {
  font-weight: 700;
  color: #1b4332;
  font-size: 1.1rem;
}

/* DESCRIÇÃO */

.product-info p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #555;
  max-height: 70px;
  overflow: hidden;
}

/* PREÇO */

.product-price {
  font-weight: 700;
  font-size: 1.1rem;
  color: #1b4332;
  margin-top: auto;
}

/* BOTÃO */

.product-info button {
  margin-top: 10px;
}

/* RESPONSIVIDADE */

@media (max-width: 992px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}